*
{
    margin: 0;
    padding: 0;
}
html{
    background: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.left-Text{
    text-align: right;
    width: 50%;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Rampart One';
    color: #ffeded;
    font-size: 5vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
.contact {
    position: absolute;
    bottom: 5px;
    left: 15px;
    font-family:'Dancing Script';
}
a{
    color: white;
}